:root {
    --color-primary: #0d1b2a;
    --color-secondary: #1b263b;
    --color-accent: #00b4d8;
    --color-accent-warm: #e0a458;
    --color-background: #f1f9fff1;
    --color-text: #212529;
    --color-modify: #1609cc;
    --color-navbar: #1b1385;
}

body {
    background-color: var(--color-background);
    color: var(--color-text);
}

.hero-section {
    background-color: var(--color-primary);
    color: white;
}

.btn-accent {
    background-color: var(--color-accent);
    color: white;
    border: none;
}

.btn-accent:hover {
    background-color: #a900b8;
}

.card-highlight {
    border-left: 4px solid var(--color-accent);
}

.btn-modify {
    background-color: var(--color-modify);
    color: white;
    border: none;
}

.btn-modify:hover {
    background-color: #b0b8ff;
}